.modal-overlay-crear-usuario {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.input-error {
  border: 1px solid red;
}

.error-text {
  color: red;
  font-size: 12px;
  display: block;
}

.modal-content-crear-usuario {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-height: 90vh;
  overflow-y: auto;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.register-button {
  background-color: #4927F5;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: #920000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.form-container form label {
  display: block;
  margin-bottom: 1rem;
}

.form-container input,
.form-container select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-logo {
  text-align: center;
  margin-bottom: 20px;
}

.registro-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-start;
}

.usuarios-container {
  max-width: 600px;
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.form label {
  display: block;
  margin-bottom: 1rem;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 12px;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.usuarios-container ul {
  list-style: none;
  padding: 0;
}

.usuario-item {
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
  padding-bottom: 0.75rem;
}

@media (max-width: 768px) {
  .registro-container {
    flex-direction: column;
  }

  .form-container,
  .usuarios-container {
    max-width: 100%;
  }
}